/* Page d'accueil */
.custom-img {
  width: 200px;          
  height: 200px;         
  object-fit: cover;     
  border-radius: 10px;   
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.custom-img:hover {
  transform: scale(1.05);         
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

/* Formulaires */

.formulaire {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control {
  width: 300px;
}

.btn-dark {
  background-color: #101214;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.btn-dark:hover {
  background-color: #333;
  width: 30%;
}

